<!DOCTYPE html>
<html>
<head><title>Feeling Lucky</title></head>
<link href="style.css" rel="stylesheet" type="text/css">
<h1 class="centered_h1">Are you feeling lucky?</h1>
<body>
<form class="centered" action="/lucky" method="post">
  <input  class="text_field" type="text" name="lucky_input" placeholder='Enter text here' style="text-align: center; font-size: 12.5px" size="60">
  <br/>
  <input class="centered_button button_style" type="submit" value="Go">
</form>
</body>
</html>
