<!DOCTYPE html>
<html>
<head><title>Ur-ly URL Shortener</title></head>
<link href="style.css" rel="stylesheet" type="text/css">
<body>
<form class="centered" action="/lucky" method="post">
  <input  class="text_field" type="text" name="lucky_input" placeholder='Enter your text here' style="text-align: center" size="60">
  <br/>
  <input class="centered_button" type="submit" value="Go">
</form>
</body>
</html>
